<div class="navbar bg-base-100">
  <div class="avatar">
    <div class="w-24 rounded">
      <a routerLink="/">
        <img src="assets/images/Malt-Fizzby-Logo.png" class="text-white h-20 w-max" alt="Malt Fizzby World Logo" id="logo">
      </a>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/attractions" class="text-white hover:text-blue-600">Attractions</a></li>
      <li><a routerLink="/attraction-accessibility" class="text-white hover:text-blue-600">Attractions Accessibility</a></li>
      <li><a routerLink="/park-accessibility" class="text-white hover:text-blue-600">Park Accessibility</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <img src="assets/images/navbar-signature-removebg.png" alt="Malt Fizzby World Signature" id="signature">
  </div>
</div>
