nav {
    background-color: #05254D;
    height: 60px;
}

#logo {
    height: 60px;
    width: 60px;
    padding-left: 100px;
    padding-right: 70px;
}

#signature {
    height: 30px;
    width: 150px;
    padding-bottom: 10px;
}